@tailwind base;
@tailwind components;

:root {
}
.flex__content {
  @apply flex items-center;
}

.content__fill {
  @apply w-full max-w-full;
}

.text__element {
  @apply text-white text-lg md:text-lg;
}
.text__element__xs {
  @apply text-xs text-white;
}

.text__large {
  @apply text-6xl font-black  text-white tracking-widest;
}
.vector__one__img {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* left: 100; */
  /* top: -375.03px; */
  opacity: 0.3;
  /* transform: rotate(15.7deg); */
}

.vector__two__img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.vector__three__img {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0.7;
}

.image__header {
  position: absolute;
  left: 1%;
  right: 9.79%;
  top: 20%;
  bottom: 19.59%;
  width: 500px;
  height: 500px;
}

.items__column {
  @apply flex-col justify-center;
}

.layout__column {
  @apply max-w-[100vw] h-screen w-screen bg-transparent;
}
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
